*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Background */
.login-container{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#020617;
    
    /* grid background */
    background-image:
    linear-gradient(rgba(255,255,255,0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.05) 1px, transparent 1px);
    background-size:40px 40px;
}

/* Remove split layout */
.login-left{
    display:none;
}

.login-right{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* Login Card */
.login-box{
    width:420px;
    background:#0f172a;
    padding:40px;
    border-radius:16px;
    box-shadow:0 10px 40px rgba(0,0,0,0.7);
    text-align:left;
    color:white;
}

/* Title */
.login-box h2{
    text-align:center;
    font-size:32px;
    margin-bottom:5px;
}

/* Subtitle */
.login-box p{
    text-align:center;
    color:#94a3b8;
    margin-bottom:30px;
}

/* Input group */
.login-box .group{
    position:relative;
    margin-bottom:25px;
}


/* Inputs */
.login-box input{
    width:100%;
    padding:14px;
    border-radius:10px;
    border:1px solid #334155;
    background:#020617;
    color:white;
    font-size:15px;
}

/* Input focus */
.login-box input:focus{
    outline:none;
    border-color:#22c55e;
}

/* Labels */
.login-box label{
    color:#cbd5f5;
    font-size:14px;
    position:absolute;
    top:-10px;
    left:12px;
    background:#0f172a;
    padding:0 5px;
}

/* Button */
.login-box button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:10px;
    background:#16a34a;
    color:white;
    font-size:16px;
    cursor:pointer;
    margin-top:9px;
}

.login-box button:hover{
    background:#15803d;
}

/* Signup text */
.signup-link{
    text-align:center;
    margin-top:10px;
    color:#94a3b8;
}

.signup-text{
    color:#22c55e;
    cursor:pointer;
}

/* Divider */
.signup-link::after{
    content:"";
    display:block;
    height:1px;
    background:#334155;
    margin:25px 0;
.divider{
  height:10px;
  background:#334155;
  margin:20px 0;
}

.admin-access{
  text-align:center;
  color:#38bdf8;
  cursor:pointer;
  font-weight:400;
    text-align:center;
    color:#38bdf8;
    cursor:pointer;
    margin-top:10px;
}


.admin-access:hover{
  text-decoration:underline;
}